.p-table {
  font-family: 'FreeSet', "Helvetica Neue", Helvetica, Arial, sans-serif;

  box-shadow: 0 0 18px 0 rgba(0,85,89,0.53);

  &__row {
    display: flex;
    border: 2px solid transparent;
    box-sizing: border-box;

    &:hover {
      border-color: #005559;
    }

    &:nth-of-type(odd) {
      background-color: #f3f3f3;
    }

    &_header,
    &_header:nth-of-type(odd) {
      position: sticky;
      z-index: 1;
      top: 65px;

      color: #ffffff;
      background-color: #005559;

      font-size: 14px;
      font-weight: 700;
      text-align: center;
    }
  }

  &__col {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 15px;
    box-sizing: border-box;

    &:before {
      content: '';
      display: block;

      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;

      width: 1px;
      height: 27px;
      background-color: #005559;
    }
  }

  &__col:nth-of-type(1):before {
    content: none;
  }

  &__row_header &__col {
    padding: 10px 0;

    &:before {
      background-color: #ffffff;
    }
  }
}