footer .copyright a{
	color: $linkColor !important;
}
.typefooter-1 .modtitle::before{
	background-color: $background;
}

.typefooter-1 .box-footer .modcontent ul li a:hover::before{
	background-color: $background;
	border-color: $background;
}
.typefooter-1 .newsletter-footer1 .newsletter .title-block .page-heading,
.typefooter-1 .box-footer .modcontent ul li a:hover{
	color: $linkColor;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button,

.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button:hover,
.typefooter-1 .socials-wrap ul li a:hover{
	background-color: $background;
}
.typefooter-1 .box-footer .modcontent ul li a::before{
	background-color: $background !important;
}

.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button:hover{
	background-color: darken($background,15%);
}


.typefooter-2 .modtitle::before{
	background-color: $background;
}

.typefooter-2 .box-footer .modcontent ul li a:hover::before{
	background-color: $background;
	border-color: $background;
}
.typefooter-2 .newsletter-footer1 .newsletter .title-block .page-heading,
.typefooter-2 .box-footer .modcontent ul li a:hover{
	color: $linkColor;
}
.typefooter-2 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button,

.typefooter-2 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button:hover,
.typefooter-2 .socials-wrap ul li a:hover{
	background-color: $background;
}
.typefooter-2 .box-footer .modcontent ul li a::before{
	background-color: $background !important;
}

.typefooter-2 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button:hover{
	background-color: darken($background,15%);
}


.typefooter-3 .box-footer .modcontent ul li a:hover::before{
	background-color: $background;
	border-color: $background;
}
.typefooter-3 .socials-wrap ul li a:hover,
.typefooter-3 .newsletter-footer1 .newsletter .title-block .page-heading,
.typefooter-3 .box-footer .modcontent ul li a:hover{
	color: $linkColor;
}
.typefooter-3 .newsletter .block_content form.signup .subcribe button:hover{
	background-color: $background;
}


.typefooter-4 .box-footer .modcontent ul li a:hover::before{
	background-color: $background;
	border-color: $background;
}
.typefooter-4 .box-footer .modcontent ul li a:hover{
	color: $linkColor;
}
.typefooter-4 .block-newsletter .newsletter .block_content #signup .subcribe button:hover,
.typefooter-4 .logo-socials .socials-footer li a:hover{
	background-color: $background;
}


.typefooter-5 .box-footer .modcontent ul li a:hover::before{
	background-color: $background;
	border-color: $background;
}
.typefooter-5 .box-footer .modcontent ul li a:hover{
	color: $linkColor;
}
.typefooter-5 .logo-socials .socials-footer li a:hover{
	background-color: $background;
}

.typefooter-6 .socials-wrap ul li a:hover{
	background-color: $background;
	border-color: $background;
}
.typefooter-6 .box-footer .modcontent ul li a::before,
.typefooter-6 .box-footer .modcontent ul li a:hover::before{
	background-color: $background;
	border-color: $background;
}
.typefooter-6 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button:hover,
.typefooter-6 .modtitle::before{
	background-color: $background;
}

.typefooter-6 .box-footer .modcontent ul li a:hover{
	color: $linkColor;
}


.typefooter-7 .box-footer .modcontent ul li a:hover{
	color: $linkColor;
}
.typefooter-7 .socials-wrap ul li a:hover{
	background-color: $background;
}
.typefooter-7 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button{
	background-color: $background;
}
.typefooter-7 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button:hover{
	background-color: darken($background,10%);
}

.typefooter-8 .box-footer .modcontent ul li a:hover:before{
	border-color: $linkColor;
}
.typefooter-8 .box-footer .modcontent ul li a:hover{
	color: $linkColor;
}
.typefooter-8 .socials-wrap ul li a:hover{
	background-color: $background;
	border-color: $background;
}