.header-city {
  display: flex;
  font-size: 16px;

  &__title {
    margin: 0 16px 0 0;
    color: #B0AFB7;

    @media (max-width: 479px) {
      display: none;
    }
  }

  &__name {
    position: relative;
    padding: 0 16px 0 0;

    font-weight: 600;
    color: #005559;

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }


    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -2px;
      right: 0;
      bottom: 0;
      margin: auto;

      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      border-color: #005559 transparent transparent transparent;

    }
  }
}