.comment-form {
  &__btn {
    width: 287px;
    height: 55px;

    font-size: 18px;
    font-weight: 600;
    font-family: FreeSet, sans-serif;

    border-radius: 17px;

    color: #FFFFFF;
    background-color: #245659;

    transition: all .2s;

    &:disabled,
    &:disabled:hover {
      cursor: not-allowed;

      color: #828282;
      background-color: #E0E0E0;
    }
  }
}