@import "blocks/p-table";

@font-face {
  font-display: swap;
  font-family: 'FreeSet Book';
  src: url('../fonts/FreeSet Book.otf');
}

@font-face {
  font-display: swap;
  font-family: 'FreeSet Light';
  src: url('../fonts/FreeSet Light.otf');
}

@font-face {
  font-display: swap;
  font-family: 'FreeSet Demi Bold';
  src: url('../fonts/FreeSet Demi Bold.otf');
}

.tableFixHead thead {
  z-index: 9999;
}

.tableFixHead thead.dynamic-head {
  position: fixed;
  top: 64px;
  width: 1140px;
}

.main-table tbody th {
  width: 14.2%;
}

/* Just common table stuff. Really. */

body {
  padding-top: 65px;
}

.navbar {
  padding: 10px 0;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1100;
  box-sizing: border-box;

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #f3f3f3;
  }
}

.navbar-toggle {
  display: none;
}

ul.navbar-menu {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  line-height: 42px;
  white-space: nowrap;
}

ul.navbar-menu li {
  display: inline-block;
  padding: 0px 20px;
  padding-top: 2px;

  @media (max-width: 1023px) {
    display: block;
  }
}

ul.navbar-menu li a {
  color: #292929;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'FreeSet Book';
}

.navbar-location {
  padding-top: 2px;
  line-height: 42px;
  font-family: 'FreeSet Light';
  color: #f34942;
  font-size: 16px;
  float: left;
  width: 100%;
  padding-right: 15px;
  display: block;
}

.navbar-location__value {
  color: #636363;
  text-decoration: underline;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.navbar-location__value:after {
  border: medium solid transparent;
  content: "";
  top: 20px;
  right: -14px;
  position: absolute;
  border-color: #636363 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
  border-width: 4px;
}

.navbar-button {
  text-align: right;
  line-height: 42px;
  width: 50%;
  float: right;
}

.navbar-logo {
  line-height: 41px;
}

.navbar-logo img {
  max-height: 45px;
}

.navbar-logo a {
  color: #292929;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'FreeSet Book';
}

.navbar-logo img {
  height: 25px;;
}

.navbar-logo a:hover {
  text-decoration: none;
}

.header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 298px;
  box-sizing: border-box;
  /*    padding: 50px 0px;*/
}

.header-title {
  font-family: 'FreeSet Demi Bold';
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 39px;
}

.header-description {
  font-size: 16px;
  font-family: 'FreeSet Light';
}

.section {
  margin: 20px 0px;
  margin-bottom: 80px;
}

.tariff-table .section {
  margin-top: 0px;
}

.section-title {
  font-size: 20px;
  font-family: 'FreeSet Demi Bold';
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
}

.section strong {
  color: #f34942;
}

.count-payment {
  width: 100%;
  padding: 25px 65px;
}

.count-payment-title {
  font-size: 18px;
  font-family: 'FreeSet Book';
  margin-bottom: 25px;
}

.count-payment-right-text {
  text-align: right;
  font-family: 'FreeSet Light';
  font-size: 12px;
  color: #807f7f;
}

.count-payment-slider {
}

ul.count-payment-numbers {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 104%;
  margin-bottom: 10px;
  margin-left: -1.1%;
}

ul.count-payment-numbers li {
  display: inline-block;
  width: 4.5%;
  text-align: center;
  font-family: 'FreeSet Light';
  font-size: 11px;
}

ul.count-payment-numbers li:nth-child(1),
ul.count-payment-numbers li:nth-child(11),
ul.count-payment-numbers li:nth-child(20) {
  font-size: 15px;
  font-family: 'FreeSet Demi Bold';
  color: #005559;
}

ul.count-payment-numbers li:nth-child(1) {
  font-size: 14px;
  position: absolute;
  line-height: 14px;
  bottom: 15px;
}

ul.count-payment-numbers li:nth-child(20) {
  font-size: 14px;
  margin-right: -40px;
  position: absolute;
  width: 71px;
  top: -9px;
  right: 20px;
  line-height: 15px;
}

ul.count-payment-numbers li:nth-child(2) {
  margin-left: 5%;
}

.rangeslider--horizontal .rangeslider__handle {
  background-color: #005559;
  top: -7px;
  width: 20px;
  height: 20px;
}

.rangeslider {
  background-color: #f3f3f3;
  height: 4px;
  box-shadow: none;
}

.rangeslider__fill {
  background-color: #005559;
}

.count-payment-slider .range-handle {
  background-color: #005559;
  width: 23px;
  height: 23px;
  top: -9px;
}

.count-payment-slider .range-quantity {
  background-color: #005559;
}

.count-payment-slider .range-bar {
  background-color: #f3f3f3;
}

.count-payment-value,
.count-payment-mobile {
  font-size: 19px;
  font-family: 'FreeSet Demi Bold';
  color: #005559;
  line-height: 24px;
  padding-left: 20px;
}

.count-payment-mobile {
  display: none;
  text-align: center;
  margin-bottom: 15px;
}

.count-payment-subtext {
  font-family: 'FreeSet Light';
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 20px;
}

.main-table-container {
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 85, 89, 0.53);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 85, 89, 0.53);
  box-shadow: 0px 0px 18px 0px rgba(0, 85, 89, 0.53);
  position: relative;
}

.ajax-loading.calculator-rko__results::after {
  content: ' ';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.8);
}


.ajax-loading.calculator-rko__results::before {
  content: ' ';
  position: absolute;
  display: block;
  background-image: url(../image/ajax.gif);
  background-size: 100%;
  height: 60px;
  width: 60px;
  z-index: 100;
  top: 150px;
  margin-top: -30px;
  left: 50%;
  margin-left: -30px;
}

.ajax-loading.banks-container::after {
  content: ' ';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.8);
}


.ajax-loading.banks-container::before {
  content: ' ';
  position: absolute;
  display: block;
  background-image: url(../image/ajax.gif);
  background-size: 100%;
  height: 60px;
  width: 60px;
  z-index: 100;
  top: 150px;
  margin-top: -30px;
  left: 50%;
  margin-left: -30px;
}

.mobile-main-table-container {
  display: none;
  margin-top: 40px !important;
}

.ajax-loading.mobile-main-table-container::after {
  content: ' ';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.8);
}

.ajax-loading.mobile-main-table-container::before {
  content: ' ';
  position: absolute;
  display: block;
  background-image: url(../image/ajax.gif);
  background-size: 100%;
  height: 60px;
  width: 60px;
  z-index: 100;
  top: 150px;
  margin-top: -30px;
  left: 50%;
  margin-left: -30px;
}

body.ajax-loading::after {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.8);
}

body.ajax-loading::before {
  content: ' ';
  position: fixed;
  display: block;
  background-image: url(../image/ajax.gif);
  background-size: 100%;
  height: 60px;
  width: 60px;
  z-index: 100;
  top: 50%;
  transform: translateX(-50%);
  left: 50%;
}

.mobile-main-card {
  border: 1px solid #d9d9d9;
  padding: 10px;
  font-size: 12px;
  font-family: 'FreeSet Light';
  margin-bottom: 15px;
}

.mobile-main-card strong,
.mobile-main-card-text .mobile-main-card-subtext strong {
  font-family: 'FreeSet Demi Bold';
  color: #005559;
}

.mobile-main-card-header {
  margin-bottom: 5px;
}

.mobile-main-card-header-left {
  float: left;
  width: 50%;
}

.mobile-main-card-header-right {
  float: right;
  width: 50%;
  font-size: 14px;
}

.mobile-main-card-header-title {
  clear: both;
  width: 100%;
  font-size: 18px;
  font-family: 'FreeSet Book';
  color: #292929;
  text-align: center;
  padding: 5px 0px;
}

.mobile-main-card-text {
  width: 100%;
  padding: 5px 0px;
  position: relative
}

.mobile-main-card-text:last-child:after {
  display: none;
}

.mobile-main-card-text strong {
  color: black;
}

.mobile-main-card-footer {
  padding-top: 10px;
}

.mobile-main-card-footer a {
  width: 50% !important;
  display: block !important;
}

.mobile-main-card-footer a.btn {
  float: left;
}

.mobile-main-card-footer a.link {
  float: right;
  line-height: 26px;
  text-align: center;
  line-height: 22px;
}

.card-bank-content {
  display: none;
}

.card-bank-header {
  font-size: 14px;
  font-family: 'FreeSet Demi Bold';
  text-align: center;
}

.card-bank-desc {
  font-size: 12px;
  font-family: 'FreeSet Book';
  color: #292929;
  border-bottom: 1px solid #d9d9d9;
  padding: 5px 0px;
}

.card-bank-inline {
  font-size: 12px;
  font-family: 'FreeSet Light';
  line-height: 25px;
}

.card-bank-inline span,
.card-bank-section-header {
  color: #005559;
  font-family: 'FreeSet Demi Bold';
}

.card-bank-section-header {
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  line-height: 22px;
  margin: 3px 0px;
}

.js-show-more-bank {
  cursor: pointer;
}

.main-table {
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
}

.main-table th .main-table-account-payment-row {
  width: 250px;
}

.main-table th .count-banks-row {
  width: 150px;
}

.bank-key {
  color: #292929;
}

.bank-value {
  color: black;
}

.bank-key + .bank-value {
  text-align: right;
}

.bank-key,
.bank-value {
  line-height: 14px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.bank-value strong {
  color: #005559;
}

.btn.main-table-bottom-btn {
  display: inline-block;
  margin: 0 auto;
  margin: 25px 0px;
  padding: 4px 30px;
  font-size: 12px;
  font-family: 'FreeSet Light';
}

.main-table thead th {
  width: 14.2%;
  font-size: 13px;
  font-family: 'FreeSet Demi Bold';
  color: white;
  text-align: center;
  background-color: #005559;
  padding: 5px 5px;
  position: relative;
}

.main-table tbody th {
  font-size: 13px;
  font-family: 'FreeSet Light';
  text-align: center;
  padding: 15px 10px;
  position: relative;
}

.result-table .main-table tbody th:nth-last-child(2),
.result-table .main-table tbody th:nth-last-child(3),
.result-table .main-table tbody th:nth-last-child(4) {
  white-space: nowrap;
}

.main-table th:after {
  content: ' ';
  height: 40%;
  width: 1px;
  background-color: #005559;
  position: absolute;
  right: 0px;
  top: 30%;
}

.main-table thead th:after {
  background-color: white;
}

.main-table th:last-child:after {
  display: none;
}

.main-table tbody th:first-child {
  text-align: left;
}

.main-table tbody th small {
  font-size: 13px;
  font-family: 'FreeSet Light';
}

.main-table tbody th strong {
  font-size: 13px;
  color: #005559;
  font-family: 'FreeSet Demi Bold';
}

.main-table tbody th .btn,
.mobile-main-card-footer .btn {
  font-size: 12px;
  padding: 5px 8px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.main-table tbody th .btn:hover,
.mobile-main-card-footer .btn:hover,
.bank-table .btn:hover {
  background-color: #f34942;
  color: white;
}

.main-table tbody th .link,
.mobile-main-card-footer .link {
  font-size: 13px;
  color: #807f7f;
  font-family: 'FreeSet Light';
  text-decoration: underline;
}

.main-table-container .main-table tbody tr:nth-child(2n) {
  background-color: #f3f3f3;
}


.main-table-container .main-table tbody tr:hover {
  background-color: #40e0d063;
  cursor: pointer;
}

.mobile-tariff-card {
}

.faq-item {
  position: relative;

  margin-bottom: 15px;
  padding: 20px 35px;
  padding-right: 75px;

  font-size: 18px;
  font-family: 'FreeSet Book';

  background-color: #f3f3f3;
  border: 1px solid #d8d8d8;
  cursor: pointer;
}

.faq-item:after {
  content: "";
  top: 50%;
  margin-top: -5px;
  right: 35px;
  position: absolute;
  background-image: url("../image/arrow-bottom.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 10px;
  width: 10px;
}

.faq-item--open {
  background-color: white;
  margin-bottom: 0px;
}

.faq-item--open:after {
  background-image: url("../image/arrow-up.png");
}

.faq-answer {
  padding: 40px;
  font-family: 'FreeSet Light';
  font-size: 16px;
  border: 1px solid #d8d8d8;
  border-top: none;
  display: none;
  margin-bottom: 15px;
}

.faq-item--open + .faq-answer {
  display: block;
}

.faq-item.faq-item_clean {
  border: none;
}

.faq-item.faq-item_clean {
  padding: 20px 35px;
  text-align: center;

  &:after {
    content: none;
  }
}

.faq-item.faq-item_clean ~ .faq-answer {
  border-top: 1px solid #d8d8d8;
}

.advantage-item {
  text-align: center;
  width: 20%;
  float: left;
}

.advantage-item img {
  margin-bottom: 10px;
}

.advantage-title {
  font-family: 'FreeSet Demi Bold';
  color: #f34942;
  font-size: 18px;

}

.advantage-title strong {
  font-size: 34px;
}

.advantage-subtitle {
  font-family: 'FreeSet Light';
  font-size: 16px;
}

.advantage-subtitle b {
  font-size: 34px;
  color: #f34942;
  display: block;
  font-weight: bold;
  font-family: 'FreeSet Demi Bold';
}

.bank-table-container {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 85, 89, 0.53);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 85, 89, 0.53);
  box-shadow: 0px 0px 18px 0px rgba(0, 85, 89, 0.53);
  user-select: none;
}

.bank-table-container-wrapper {
  position: relative;
}

.tariff-table .right-block {
  display: none;
}

.bank-table-container-wrapper .right-block {
  content: ' ';
  width: 43px;
  background-color: #f3f3f3;
  height: 188px;
  right: -43px;
  top: 0px;
  position: absolute;
  padding-top: 49px;
}

.bank-table-container-wrapper .right-block div {
  height: 45px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.bank-table-container-wrapper .right-block__left {
  background-image: url("../image/arrow-to-left.png");
}

.bank-table-container-wrapper .right-block__right {
  background-image: url("../image/arrow-to-right.png");
}

.bank-table {
  width: 100%;
  table-layout: fixed;
}

.bank-table .btn {
  width: 100%;
  display: inline-block;
}

.bank-table tr th {
  width: 240px;
  font-size: 13px;
  font-family: 'FreeSet Light';
  text-align: center;
  padding: 20px 15px;
  position: relative;
  background-color: white;
}

.bank-table tr th strong {
  font-size: 13px;
  font-family: 'FreeSet Demi Bold';
  color: #005559;
}


.bank-table tr.bank-table-btn-row th {
  padding: 0px 15px;
}

.bank-table tr.bank-table-btn-row th:after {
  display: none;
}

.bank-table tr th:first-child {
  width: 300px;
}

.tariff-table .bank-table tr th:first-child {
  width: 150px;
}

.bank-table thead tr:first-child th {
  font-family: 'FreeSet Demi Bold';
  font-size: 18px;
}

.bank-table tbody tr th:first-child,
.bank-table thead tr th.fixed-column:first-child {
  font-size: 14px;
  font-family: 'FreeSet Book';
  text-align: left;
}

.bank-table tbody tr:nth-child(2n+1) th {
  background-color: #f3f3f3;
}

.bank-table tbody tr th.bank-table-section-title {
  background-color: #e8e8e8;
  color: #005559;
  font-family: 'FreeSet Demi Bold';
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 15px;
  height: 40px;
  padding-left: 29%;
}

.tariff-table .bank-table tbody tr th.bank-table-section-title {
  padding-left: 40%;
}

tr th.fixed-row {
  position: absolute;
  left: 0;
  width: 100% !important;
  z-index: 1;
}

.bank-table th:after {
  content: ' ';
  height: 40%;
  width: 1px;
  background-color: #005559;
  position: absolute;
  right: 0px;
  top: 30%;
}

.bank-table th.fixed-column:after {
  content: ' ';
  height: 100%;
  width: 1px;
  background-color: #d4d2d2;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 9999;
  -webkit-box-shadow: -1px 0px 25px 0px rgba(0, 6, 85, 1);
  -moz-box-shadow: -1px 0px 25px 0px rgba(0, 6, 85, 1);
  box-shadow: -1px 0px 25px 0px rgba(0, 6, 85, 1);
}

.bank-table th:last-child:after {
  display: none;
}

.article-container {
  position: relative;
  overflow: hidden;
}

.article-container .slick-slide {
  margin: 0px 15px;
}

.article-arrow {
  width: 5%;
  float: left;
  background-color: #f3f3f3;
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto auto;
  z-index: 1000;
  display: none;
}

.article-arrow--left {
  position: absolute;
  left: 0px;
  background-image: url("../image/arrow-left.png");
  top: 0px;
}

.article-arrow--right {
  position: absolute;
  right: 0px;
  background-image: url("../image/arrow-right.png");
  top: 0px;
}

.article-item {
  border: 2px solid #f3f3f3;
}

.article-header {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 15px 15px;

  font-family: 'FreeSet Demi Bold', sans-serif;
  font-size: 16px;

  color: white;
  background: #005559;
}

.article-header__author,
.article-header__date {
  position: absolute;
  bottom: 3px;

  font-family: 'FreeSet Demi ', sans-serif;
  font-size: 14px;
  color: #f2f2f2;
}

.article-header__author a {
  color: #f2f2f2;
}

.article-header__date {
  right: 15px;
}

.article-text {
  font-size: 16px;
  font-family: 'FreeSet Light';
  padding: 10px 15px;
  margin-bottom: 20px;
  height: 210px;
  overflow: hidden;
}

.article-button {
  text-align: center;
  border-top: 1px solid #e6e6e6;
  width: 80%;
  margin: 0 auto;
  line-height: 50px;
}

.article-button a {
  font-size: 18px;
  font-family: 'FreeSet Book';
  color: #005559;
}

.feedback {
  background-color: #f34942;
  width: 100%;
  padding: 30px 0px;
  color: white;
}

.feedback-title {
  font-size: 30px;
  font-family: 'FreeSet Book';
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}

.feedback-subtitle {
  font-size: 20px;
  font-family: 'FreeSet Light';
  text-align: center;
  margin-bottom: 35px;
}

.feedback .form-control {
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid white;
  border-radius: 20px;
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
  font-family: 'FreeSet Light';
}

.feedback .btn-control {
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  background: #005559;
  border-radius: 20px;
  width: 100%;
  font-family: 'FreeSet Demi Bold';
  font-size: 20px;
  display: block;
  text-align: center;
  color: white;
  transition: 0.5s all;
}

.feedback .btn-control:hover {
  color: #005559;
  background-color: white;
}

.feedback .btn-control:hover {
  text-decoration: none;
}

.form-control::placeholder {
  color: white;
}


/* new_footer_css*/

.block_dc{
  visibility: hidden;
}


.footer {
  color: #76767A;
  padding: 30px 0px
}

.footer__block {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__block-contact {
  display: flex;
  padding-top: 27px;
  padding-bottom: 12px;
}

.contact__text:nth-child(1) {
  min-width: 190px;
}

div.contact__text:nth-child(2) {
  margin-left: 95px;
}

div.contact__text:nth-child(3) {
  margin-left: 121px;
}

div.contact__text:nth-child(4) {
  margin-left: 236px;
}

div.block__social:nth-child(2) {
  margin-left: 108px;
}

div.block__social:nth-child(3) {
  margin-left: 149px;
}

div.block__social:nth-child(4) {
  margin-left: 118px;
}

div.contact__text div.contact__text-txt {
  padding-top: 19px;
}

.footer__block-social {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
}

.old-block {
  background-color: lavender;
  display: none;
}

.footer__block-foot-txt {
  padding-left: 112px;
  padding-right: 25px;
}

.footer__block-foot {
  font-family: FreeSet, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #A7A7AB;
  display: flex;
  padding-top: 13px;
}

div.foot__map:nth-child(1) {
  min-width: 179px;
  padding-bottom: 9px;
}

.block__social-txt, .block__social-tel a, .block__social-mail a, .contact__text-txt {
  font-family: FreeSet, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.block__social-img {
  display: flex;
  align-items: center;
}

.block__social-img > a:nth-child(2) {
  margin-left: 28px;
}

.block__social-img > a:nth-child(3) {
  margin-left: 28px;
}

.block__social-txt {
  color: #A7A7AB;
  padding-bottom: 25px;
}

.block__social-tel a:hover {
  text-decoration: none;
}

.block__social-mail a:hover {
  text-decoration: none;
}

.block__social-tel a {
  color: #76767A;
  padding-bottom: 8px;
}

.block__social-mail a {
  color: #005559;
}

.contact__text-img {
  padding-bottom: 17px;
}

div.contact__text > div:nth-child(1) {
  padding-bottom: 17px;
}

.text-hover {
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
}

.text-hover:hover {
  color: #25B995;
  cursor: pointer;
}

.contact__text-tel {
  color: #0D291C;
  font-family: FreeSet, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}

.contact__text-bot {
  font-family: FreeSet, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #848E99;
}

.social_mob, .block__social_mob, .contact__text-txt_mob {
  display: none;
}


@media (max-width: 1200px) {

  .footer__block-contact, .footer__block-social, .footer__block-foot {
    padding-left: 10px;
    padding-right: 10px;
  }

  div.contact__text:nth-child(4) {
    margin-left: 138px;
  }

  div.block__social:nth-child(4) {
    margin-left: 19px;
  }

  div.block__social:nth-child(3) {
    margin-left: 123px;
  }

  div.contact__text:nth-child(3) {
    margin-left: 95px;
  }

}

@media (max-width: 992px) {

  div.contact__text:nth-child(2) {
    margin-left: 19px;
  }

  div.contact__text:nth-child(3) {
    margin-left: 28px;
  }

  div.contact__text:nth-child(4) {
    margin-left: 27px;
  }

  div.block__social:nth-child(3) {
    margin-left: 22px;
  }

  div.block__social:nth-child(4) {
    margin-left: 21px;
  }

  div.block__social:nth-child(2) {
    margin-left: 28px;
  }

}

@media (max-width: 768px) {

  .footer__block-contact, .footer__block-social{
    padding-left: 23px;
  }

  div.contact__text div.contact__text-txt {
    padding-top: 0px;
  }

  .block_dc {
    position: absolute;
    bottom: -134px;
    left: 0px;
    right: 0px;
  }

  .block_dc .block__social-txt {
    margin: auto;
    width: 146px;
  }

  .footer__block-social {
    position: relative;
  }

  .block__social-txt, .block__social-tel a, .block__social-mail a, .contact__text-txt {
    font-size: 13px;
  }

  .block__social-txt {
    padding-bottom: 13px;
    text-align: left !important;
  }

  div.block__social:nth-child(6) > div:nth-child(1) {
    text-align: center !important;;
  }

  div.block__social:nth-child(2) > div:nth-child(1) {
    padding-top: 0px;
  }

  .block__social_mob {
    display: none;
    text-align: center;
    padding-bottom: 123px;
  }

  .block__social-txt {
    text-align: center;
  }

  .block__social-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact__text-txt_mob {
    font-family: FreeSet, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #A7A7AB;
    display: block;
  }

  .contact__text-img {
    display: none;
  }

  .footer__block-contact {
    display: block;
  }

  .footer__block-foot {
    flex-direction: column-reverse;
  }

  div.foot__map:nth-child(2) {
    display: none;
  }

  .footer__block-foot {
    text-align: center;
  }

  .footer__block-foot-txt {
    padding: 0 30px 30px 30px;
  }

  .foot__map {
    color: #76767A;
  }

  div.contact__text:nth-child(2) {
    margin-left: 0px;
    float: left;
    padding-right: 30px;
  }

  div.contact__text:nth-child(3) {
    margin-left: 0px;
  }

  div.contact__text:nth-child(4) {
    margin-left: 0px;
    padding-top: 35px;
  }

  .contact__text:nth-child(1) {
    padding-bottom: 38px;
  }

  div.contact__text:nth-child(4) > div:nth-child(2) br {
    display: none;
  }

  div.contact__text:nth-child(4) > div:nth-child(2) {
    padding-bottom: 10px;
  }

  .footer__block-social {
    flex-direction: column;
  }

  div.block__social:nth-child(2) {
    margin-left: 0px !important;
  }

  div.block__social:nth-child(3) {
    margin-left: 0px;
  }

  div.block__social:nth-child(4) {
    margin-left: 0px;
  }

  .block__social-tel {
    float: left;
    padding-right: 48px;
  }

  .block__social-txt {
    padding-bottom: 13px;
    padding-top: 35px;
  }

  .social_mob {
    display: none;
  }


}


/* new_footer_css end*/


ul.footer-menu {
  padding: 2px;
  margin: 0px;
  list-style-type: none;
  line-height: 42px;
}

ul.footer-menu li {
  display: inline-block;
  padding: 0px 44px;
  padding-top: 5px;
}

ul.footer-menu li a {
  font-size: 16px;
  font-family: 'FreeSet Book';
  color: white;
}

.footer-logo {
  position: relative;
  bottom: 6px;
}

.footer .navbar-button {
  width: 100%;
  padding-top: 5px;
}

.copyright {
  font-family: 'FreeSet Light';
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.bank-table tr th.fixed-column {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.select-region-layer {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.48);
  z-index: 1101;
  display: none;
}

.select-region {
  position: fixed;
  height: 300px;
  width: 480px;
  top: 50%;
  left: 48%;
  margin-top: -150px;
  margin-left: -180px;
  background: white;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 85, 89, 0.53);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 85, 89, 0.53);
  box-shadow: 0px 0px 18px 0px rgba(0, 85, 89, 0.53);
  z-index: 1102;
  padding: 10px 40px;
  display: none;
}

.select-region h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
}

.select-region input {
  border: 1px solid #ededed;
  height: 40px;
  width: 100%;
  padding: 0 15px;
  margin: 0 0 10px 0;
  border-radius: 0;
  font-size: 13px;
  color: #000000;
  border-radius: 30px;
  background-color: #ededed;
  font-weight: bold;
}

.select-region input:focus {
  border: none;
  outline: none;
}

.select-region p {
  color: #292929;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'FreeSet Book';
  margin: 0px;
  display: block;
}

.select-region ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  overflow-y: scroll;
  height: 170px;
}

.select-region ul li {
  line-height: 21px;
  padding-left: 10px;
}

.select-region ul li a,
.select-region ul li span {
  font-size: 13px;
  color: black;
  cursor: pointer;
}

.select-region ul li span:hover {
  text-decoration: underline;
}

.city-close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 25px;
  height: 25px;
  opacity: 1;
  cursor: pointer;
}

.city-close:after,
.city-close:before {
  position: absolute;
  left: 12px;
  content: ' ';
  height: 25px;
  width: 1px;
  background-color: #bcbcbc;
}

.city-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.city-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container-article-text {
  font-size: 16px;
}

.container-article-text h1 {
  margin-top: 0px;
}

.container-article-text p {
  text-align: left;
}

.container-article-text table td p {
  font-size: 14px;
  font-family: 'FreeSet Light';
  position: relative;
}

.container-article-text table td {
  padding: 0px 10px;
}

.container-article-text img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container-article-text table {
  width: 100%;
  table-layout: fixed;
}

ul.article-navigation {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

ul.article-navigation li {
  display: inline-block;
  font-size: 18px;
  font-family: 'FreeSet Light';
  margin-right: 30px;
}

ul.article-navigation li:hover,
ul.article-navigation li.active {
  color: #005559;
  text-decoration: underline;
  cursor: pointer;
}

.title-block-article {
  font-size: 24px;
  font-family: 'FreeSet Demi Bold';
  text-transform: uppercase;
  margin-bottom: 15px;
}

.section-title-block-article {
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  height: 1px;
  margin-bottom: 10px;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.article-list-item-container {
  width: 100%;
  max-width: 50%;
  padding: 0 15px;

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.article-list-item {
  margin-bottom: 45px;
}

.article-list-item img {
  margin-bottom: 5px;
  min-height: 240px;
}

.article-list-item__title,
.article-list-item__title a {
  font-family: 'FreeSet Demi Bold';
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.article-list-item--mini .article-list-item__title {
  font-size: 18px;
}

.article-list-item__category {
  display: inline-block;
  vertical-align: middle;

  color: #005559;
  font-family: 'FreeSet Light', sans-serif;
  font-size: 14px;
}

.article-list-item__footer {
  position: relative;
}

.article-list-item__author {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;

  font-family: 'FreeSet Light', sans-serif;
  font-size: 14px;
}

.article-list-item__date {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  color: #005559;
  font-family: 'FreeSet Light', sans-serif;
  font-size: 13px;
}

.breadcrumbs {
  text-align: right;
  color: #807f7f;
  font-family: 'FreeSet Light';
  line-height: 49px;
}

.content-article table td p {
  margin: 0px;
}

.container-article-text table td {
  padding: 0px;
}

.container-article-text table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.container-article-text table tbody tr:first-child td {
  font-weight: bold;
}

.container-article-text blockquote {
  font-style: italic;
}

.container-article-text img {
  //border: 1px solid #bcbcbc;
  cursor: pointer;
}

.container-article-text h2,
.container-article-text h2 span {
  font-size: 22px;
  font-weight: bold;
}

.article-pages-list {
  margin-top: 20px;
}

.page404 {
  min-height: 50%;
  text-align: center;
  height: 100vh;
  padding-top: 8%;
}

.page404 + .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.page404 h1 {
  font-size: 110px;
  font-family: 'FreeSet Demi Bold';
  margin: 0px;
  color: black;
}

.page404 h2 {
  font-size: 28px;
  font-family: 'FreeSet Light';
  margin-top: 0px;
}

.row-bank div img {
  max-width: 100%;
  display: block;
  margin-top: 15px;
}

.header.calc-page {
  background-image: url('../image/tariff-banner.png');
  background-repeat: no-repeat;
  min-height: 261px;
}

.header.banks-page {
  background-image: url('../image/banner-banks-page.png');
  background-repeat: no-repeat;
}

.header.bank-detail {
  background-image: url('../image/bank-detail-banner.png');
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .navbar-location {
  }

  ul.navbar-menu li {
    padding: 0px 7px;
  }

  .navbar-button {
    width: 100%;
  }

  ul.count-payment-numbers li:nth-child(20) {
    top: -3px;
    right: 8px;
  }
}

@media (max-width: 992px) {
  .navbar-logo img {
    margin: 0 auto;
  }

  .navbar-logo {
    margin-bottom: 5px;
  }

  .header {
    margin-top: 48px;
  }

  .main-table thead th {
    font-size: 12px;
    font-family: 'FreeSet Light';
  }

  .main-table tbody th {
    font-size: 12px;
  }

  .main-table tbody th .btn,
  .mobile-main-card-footer .btn {
    padding: 2px 4px;
  }

  .main-table tbody th strong {
    font-size: 12px;
  }

  .footer-logo {
    text-align: center;
  }

  .navbar-button {
    text-align: center;
  }

  .advantage-title strong,
  .advantage-subtitle b {
    font-size: 22px;
  }

  .advantage-subtitle {
    font-size: 13px;
  }

  .article-aside {
    margin-bottom: 30px;
  }

  .article-item {
    margin-bottom: 20px;
  }

  .article-header {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 82px;
  }

  .article-text {
    height: 210px;
  }
}

@media (max-width: 767px) {

  ul.navbar-menu,
  .navbar .navbar-button,
  .count-payment-numbers,
  .count-payment-desktop {
    display: none;
  }

  .desktop-main-table-container {
    display: none;
  }

  .geo-text-container {
    text-align: center !important;
  }

  .count-payment-mobile,
  .mobile-main-table-container {
    display: block;
    position: relative;
  }

  body {
    padding-top: 57px;
  }

  .navbar {
    position: relative;
    padding: 7px 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    z-index: 200;
    height: 57px;
    border-bottom: 1px solid #d9d9d9;
    box-sizing: border-box;
  }

  .navbar-toggle {
    display: block;
    position: absolute;
    height: 18px;
    width: 18px;
    right: 35px;
    top: 50%;
    margin-top: -9px;
    background-image: url('../image/menu-button.png');
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .mobile-main-card-header-left {
    padding-right: 10px;
  }

  .navbar-toggle:hover {
    cursor: pointer;
  }

  .navbar-open .navbar-toggle {
    background-image: url('../image/close-menu.png');
  }

  .navbar-open .navbar-dropdown {
    background-color: white;
    top: 55px;
    position: absolute;
    z-index: 100;
    border-bottom: 1px solid #d9d9d9;
    -webkit-box-shadow: 0px 30px 25px -26px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 30px 25px -26px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 30px 25px -26px rgba(0, 0, 0, 0.48);
    width: 100%;
    z-index: 9999;
  }

  .navbar-open .navbar-dropdown .navbar-menu {
    display: block;
    width: 100%;
  }

  .navbar-open .navbar-dropdown .navbar-menu {
    display: block;
  }

  .navbar-open .navbar-dropdown .navbar-location {
    display: block;
  }

  .navbar-open .navbar-dropdown ul.navbar-menu li {
    width: 100%;
    text-align: center;
    position: relative;
  }

  .navbar-open .navbar-dropdown ul.navbar-menu li:after {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    content: '';
    display: block;
    width: 30px;
    left: 50%;
    margin-left: -15px;
  }

  .navbar-open .navbar-dropdown ul.navbar-menu li:last-child:after {
    display: none;
  }

  .navbar-open .navbar-dropdown ul.navbar-menu li a {
    font-size: 12px;
  }

  .navbar-open .navbar-dropdown ul.navbar-menu {
    line-height: 32px;
  }

  .navbar-open .navbar-dropdown .navbar-button {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .navbar-logo img {
    margin: inherit;
  }

  .header {
    margin-top: 0;
  }

  .header-title {
    line-height: 14px;
    /*line-height: 36px;*/
    font-size: 11px;
  }

  .header-description {
    font-size: 14px;
    padding-top: 0;
    line-height: 29px;
  }

  .section-title {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .section {
    margin: 10px 20px;
    margin-bottom: 40px;
  }

  .count-payment {
    padding: 0px;
    border: none;
  }

  .count-payment-title {
    font-size: 12px;
    text-align: center;
    margin-bottom: 15px;
  }

  .faq-item {
    font-size: 12px;
    padding: 10px 15px;
    padding-right: 40px;
  }

  .faq-item::after {
    right: 20px;
  }

  .faq-answer {
    font-size: 12px;
    padding: 10px 15px;
  }

  .footer {
    margin-top: 0px;
    padding: 20px 0px;
  }

  .footer-logo {
    text-align: center;
    margin-bottom: 10px;
    width: 200px;
    display: block;
    margin: 0 auto;
  }

  ul.footer-menu {
    text-align: center;
  }

  ul.footer-menu li {
    width: 32%;
    padding: 0px;
  }

  ul.footer-menu li a {
    font-size: 12px;
  }

  ul.footer-menu {
    width: 100%;
    margin: 0 auto;
    line-height: 30px;
  }

  .copyright {
    font-size: 12px;
    margin-top: 10px;
  }

  .footer .ordered-rows {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
  }

  .footer .ordered-rows > div:first-child {
    order: 2;
  }

  .footer .navbar-button {
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
  }

  .footer .navbar-button .btn.btn-default {
    padding: 5px 15px;
  }
  .advantage-item {
    width: 50%;
    font-size: 12px;
    text-align: left;
    margin-bottom: 15px;
    padding-left: 23px;
  }

  .advantage-item img {
    float: left;
    width: 40px;
  }

  .advantage-title strong {
    font-size: 18px;
  }

  .advantage-title {
    padding-left: 65px;
    margin-bottom: 0px;
  }

  .advantage-subtitle {
    padding-left: 65px;
  }

  .article-arrow {
    display: none;
  }

  .article-item {
    margin: 0px 8px;
    margin-bottom: 20px;
  }

  .article-header {
    font-size: 14px;
    height: 70px;
  }

  .article-text {
    font-size: 16px;
    height: auto;
  }

  .feedback {
    padding-bottom: 10px;
  }

  .feedback-title {
    display: none;
  }

  .feedback-subtitle {
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'FreeSet Demi Bold';
  }

  .feedback .form-control,
  .feedback .btn-control {
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    margin-bottom: 12px;
  }

  .feedback .btn-control {
    font-size: 14px;
  }

  .mobile-main-card-header-logo-bank img,
  .mobile-main-card-header img {
    max-height: 40px;
    display: block;
    margin: 0 auto;
  }

  .advantage-subtitle b {
    font-size: 18px;
  }

  .breadcrumbs {
    text-align: left;
    line-height: 20px;
  }

  .title-block-article {
    margin-bottom: 0px;
  }

  .navbar-location {
    display: none;
  }


  .header {
    position: relative;
    background-color: #EDEDED;
    background-image: none;
    //margin-bottom: 100px;
    min-height: 0;
    font-family: "FreeSet Light";
    font-size: 11px;
    line-height: 14px;
    color: #000;
    padding: 28px 20px;
  }
  .header::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    display: block;
    //background: url(/local/templates/podelu/assets/css/../image/header-mobile-mini.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
  }

  .header.calc-page {
    background-image: none;
  }
  .header.banks-page {
    background-image: none;
  }
  .header.bank-detail {
    background-image: none;
  }
}


@media (max-width: 600px) {
  .mobile-main-card-container {
    width: 100%;
  }

  .section-article {
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
  }

  .section-article .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .advantage-item {
    width: 100%;
  }
}

@media(max-width: 400px) {
  ul.footer-menu li a {
    font-size: 10px;
  }

  .article-header {
    font-size: 12px;
  }

  .section-title-white {
    font-size: 15px;
  }

  .article-text {
    font-size: 12px;
  }

  .article-button {
    line-height: 30px;
  }

  .article-button a {
    font-size: 14px;
  }

  .row-bank div {
    height: auto;
  }

  .row-bank div img {
  }

}

@media(max-width: 360px) {
  ul.footer-menu {
    width: 100%;
  }

  .section.section-article {
    margin-bottom: 0px;
  }

  .section-title-white {
    font-size: 15px;
  }
}

/* -- Helpers --- */
.btn,
.btn:focus {
  text-decoration: none;
  padding: 8px 15px;
  border: 1px solid;
  color: #f34942;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'FreeSet Book';
  transition: 0.5s all;
}

.btn:hover {
  text-decoration: none;
  background-color: #f34942;
  color: white;
}

.btn.btn-default {
  color: white;
  background-color: #f34942;
  padding: 10px 20px;
  border: none;
  border: 1px solid transparent;
}

.btn.btn-default:hover {
  background-color: white;
  color: #f34942;
  cursor: pointer;
  border: 1px solid #f34942;
}

.star {
  color: red;
}

.mobile-main-card-header-logo-bank {
  width: 100%;
}

.mobile-main-card-header-logo-bank img {
  margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #005559;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 760px) {
  .select-region {
    position: fixed;
    height: auto;
    max-width: 400px;
    top: 50%;
    left: 45%;
    margin-top: -150px;
    margin-left: -180px;
    background: white;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 85, 89, 0.53);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 85, 89, 0.53);
    box-shadow: 0px 0px 18px 0px rgba(0, 85, 89, 0.53);
    z-index: 1102;
    padding: 10px 29px;
    display: none;
  }

  .select-region h3 {
    font-size: 16px;
  }
}

.desktop-main-table-container .main-table-container .main-table .hide-item {
  display: none;
}

.desktop-main-table-container .main-table-container .main-table tbody tr th .btn {
  margin-bottom: 14px;
}

.section-title .help-ask {
  border: 1px solid gray;
  border-radius: 50%;
  color: gray;
  cursor: default;
  display: inline-block;
  font-size: 12px;
  height: 14px;
  line-height: 11px;
  margin-left: 0px;
  opacity: 0.5;
  text-align: center;
  width: 14px;
  position: relative;
  bottom: 2px;
}

.section-title .help-ask:hover {
  cursor: pointer;
}

body .popup-for-help {
  /* visibility:hidden; */
  position: absolute;
  top: 0;
  left: 0;
  background: #005559;
  color: white;
  z-index: 1000;
  overflow: visible;
  text-align: left;
  padding: 7px;
  min-width: 50px;
  max-width: 530px;
}

body div.popup-for-help div.tip-arrow-bottom {
  visibility: visible;
  margin-left: -6px;
  top: 100%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #005559;
}

.desktop-main-table-container .main-table-container .main-table tbody tr th .tariff-name {
  color: gray;
}

.advantages-items .wide {
  width: 25%;
}

@media (max-width: 767px) {
  .advantages-items .wide {
    width: 100%;
  }
}

@media (min-width: 250px) and (max-width: 500px) {

  .header-description.banks-description {
    font-size: 12px;
    /*height: 181px;*/
    padding-top: 0;
    line-height: 1.4;
  }
  .header-description.detail-description {
    font-size: 12px;
    /*height: 181px;*/
    padding-top: 0;
    line-height: 1.4;
  }
  .header-title.detail-title {
    line-height: 1.2;
    font-size: 10px;
    padding-top: 0;
  }
}

@media (min-width: 501px) and (max-width: 767px) {

  .header-description.banks-description {
    font-size: 16px;
    /*height: 181px;*/
    line-height: 1.4;
  }
  .header-title.banks-title {
    line-height: 1.2;
    font-size: 10px;
    padding-top: 0;

  }
  .header-description.detail-description {
    font-size: 16px;
    /*height: 181px;*/
    padding-top: 0;
    line-height: 1.4;
  }
  .header-title.detail-title {
    line-height: 1.2;
    font-size: 10px;
    padding-top: 30px;

  }
}

@media (max-width: 767px) {
  body div.popup-for-help div.tip-arrow-bottom {
    visibility: hidden;
  }

}

.section-title .help-ask {
  border: 1px solid gray;
  border-radius: 50%;
  color: gray;
  cursor: default;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  height: 14px;
  width: 14px;
  line-height: 0;
  margin-left: 5px;
  opacity: 0.5;
  text-align: center;
  position: relative;
}

.section-title .help-ask::before {
  content: "?";
  position: absolute;
}

.bx-mac .section-title .help-ask {
  top: -2px;
}

.mobile-main-card-container .mobile-main-card-body .mobile-main-card-text strong,
.mobile-main-card-container .mobile-main-card-body .mobile-main-card-text .mobile-main-card-subtext {
  color: #005559;
  font-weight: bold;
  font-family: 'FreeSet Demi Bold';
}

@media (max-width: 767px) {
  body div.popup-for-help div.tip-arrow-bottom {
    visibility: hidden;
  }
}

.section-title .help-ask {
  border: 1px solid gray;
  border-radius: 50%;
  color: gray;
  cursor: default;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  height: 14px;
  width: 14px;
  line-height: 0;
  margin-left: 5px;
  opacity: 0.5;
  text-align: center;
  position: relative;
}

.section-title .help-ask::before {
  content: "?";
  position: absolute;
}

.bx-mac .section-title .help-ask {
  top: -2px;
}