.article {
  display: flex;
  flex-direction: column;

  margin-bottom: 1.9375rem;

  position: relative;
  vertical-align: middle;
  color: #25292e;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-family: FreeSet, sans-serif;

  @media (min-width: 0px) {
    line-height: 1.375rem;
    font-size: 1.1875rem;
  }

  @media (min-width: 958px) {
    line-height: 1.5rem;
    font-size: 1.3125rem;
  }

  p, b {
    font-family: FreeSet, sans-serif;
  }

  b {
    font-weight: 600;
  }

  &__img-container {
    text-align: center!important;
  }

  &__img {
    margin: auto;
  }

  &__img-description {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
  }

  &__table {
    overflow-x: auto;
  }

  .article-banner {
    &_type_horizontal {
      @media (max-width: 749px) {
        display: none;
      }
    }

    &_type_vertical {
      @media (min-width: 750px) {
        display: none;
      }
    }
  }

  h1, h2, h3 {
    margin-bottom: 1.9375rem;
    padding-top: 1.5rem;

    display: inline-block;
    position: relative;
    vertical-align: middle;
    color: #25292e;
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-family: FreeSet-DemiBold, sans-sarif, serif;

    border: 0;
    font-size: 100%;

    @media (min-width: 0px) {
      margin-top: 0;
      padding-left: 0;
      padding-top: 0;
      line-height: 1.5rem;
      font-size: 1.5rem;
    }

    @media (min-width: 958px) {
      line-height: 2.25rem;
      font-size: 2.25rem;
      margin-top: 1.5rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  h3 {
    font-size: 1.95rem;
  }

  p {
    margin: 0 0 1.9375rem 0;
    padding: 0;

    position: relative;
    vertical-align: middle;
    color: #25292e;
    border: 0;
    text-align: left;
    font-style: normal;
    font-weight: 300;
    font-family: FreeSet-Light, sans-sarif, serif;

    @media (min-width: 0px) {
      line-height: 1.375rem;
      font-size: 1.1875rem;
    }

    @media (min-width: 958px) {
      line-height: 1.5rem;
      font-size: 1.3125rem;
    }
  }

  table  {
    tbody tr:first-child td {
      font-weight: bold
    }

    td {
      border: 1px solid #ddd;
      padding: 10px;

      p {
        margin: 0;
      }
    }
  }

  ul {
    li {
      display: block;
      position: relative;
      vertical-align: middle;
      color: #25292e;
      text-align: left;
      font-style: normal;
      font-weight: 300;
      font-family: FreeSet-Light, sans-serif;
      padding-left: 2.875rem;
      margin-bottom: 2.125rem;

      @media (min-width: 0px) {
        line-height: 1.375rem;
        font-size: 1.1875rem;
      }

      @media (min-width: 958px) {
        line-height: 1.5rem;
        font-size: 1.3125rem;
      }


      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 1.9375rem;
        height: 1.9375rem;
        border-radius: 50%;
        background-color: #cbf3f0;
        left: 0;
        top: 0;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='352.62' height='352.62'%3E%3Cpath d='M337.222 22.952c-15.912-8.568-33.66 7.956-44.064 17.748-23.867 23.256-44.063 50.184-66.708 74.664-25.092 26.928-48.348 53.856-74.052 80.173-14.688 14.688-30.6 30.6-40.392 48.96-22.032-21.421-41.004-44.677-65.484-63.648C28.774 167.385-.602 157.593.01 190.029c1.224 42.229 38.556 87.517 66.096 116.28 11.628 12.24 26.928 25.092 44.676 25.704 21.42 1.224 43.452-24.48 56.304-38.556 22.645-24.48 41.005-52.021 61.812-77.112 26.928-33.048 54.468-65.485 80.784-99.145 16.524-20.808 68.544-72.217 27.54-94.248zM26.937 187.581c-.612 0-1.224 0-2.448.611-2.448-.611-4.284-1.224-6.732-2.448 1.836-1.224 4.896-.612 9.18 1.837z'/%3E%3C/svg%3E");
        background-size: 55% 55%;
        background-repeat: no-repeat;
        background-position: 50%;
      }
    }
  }

  ol {
    padding: 0;
    border: 0;
    vertical-align: baseline;


    li {
      counter-increment: my-awesome-counter;
      display: block;
      position: relative;
      vertical-align: middle;
      color: #25292e;
      text-align: left;
      font-style: normal;
      font-weight: 300;
      font-family: FreeSet-Light;
      padding-left: 2.875rem;
      margin-bottom: 2.125rem;

      @media (min-width: 0px) {
        line-height: 1.375rem;
        font-size: 1.1875rem;
      }

      @media (min-width: 958px) {
        line-height: 1.5rem;
        font-size: 1.3125rem;
      }

      &:before {
        content: counter(my-awesome-counter);
        display: block;
        position: absolute;
        line-height: 1.9375rem;
        font-weight: 600;
        font-size: 1.25rem;
        width: 1.9375rem;
        height: 1.9375rem;
        border-radius: 50%;
        text-align: center;
        background-color: #cbf3f0;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: 50%;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}