div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

.container-article-text {
	&__contents {
		padding: 20px 30px;
		box-sizing: border-box;

		color: #005559;
		background-color: #f6f5fa;

		@media (max-width: 479px) {
			padding: 10px 15px;
		}
	}

	&__contents-title {
		font-size: 22px;
		font-weight: bold;
		font-family: 'FreeSet Demi Bold', sans-serif;

		color: #333333;
	}

	&__contents-items {
		margin: 15px 0 0;
	}

	&__contents-item {
		padding: 5px 0;
		box-sizing: border-box;
	}

	&__contents-link {
		display: inline-block;
		position: relative;
		padding-left: 20px;
		font-weight: 500;
		color: #005559;

		&:before {
			positioN: absolute;
			top: 6px;
			left: 0;
			content: '';
			display: block;
			vertical-align: middle;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: #005559;
		}
	}
}

.author-article {
	display: flex;
	align-items: center;
	margin: 10px 0 0;

	&__img {
		border-radius: 50%;
		overflow: hidden;
		box-shadow: 0 1px 3px rgba(0,0,0,.16);
	}

	&__info {
		margin: 0 0 0 10px;
	}


}


.date-article p {
	margin-bottom: 0;
}