.calculator-rko {
  width: 100%;
  max-width: 1180px;
  margin: 20px auto 45px;

  line-height: 1.4;

  font-family: 'FreeSet', "Helvetica Neue", Helvetica, Arial, sans-serif;

  &__body {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__filter {
    float: left;
    width: 100%;
    max-width: 205px;

    padding: 0;

    background: #f7f7f7;

    position: sticky;
    top: 65px;
    height: calc(100vh - 65px);
    overflow-y: auto;
  }

  &__filter-header {
    border-bottom: 1px solid #e8e8e8;
    padding: 18px 0;
  }

  &__filter-title {
    margin: 0;

    font-size: 14px;
    font-weight: 700;
    color: #005559;

    text-align: center;
  }

  &__filter-field {
    margin: 15px 0 0;

    .checkbox {
      display: block;
      margin: 8px 0 0;


      &__text {
        padding-left: 17px;

        font-size: 12px;
        font-weight: 300;
        line-height: 1;

        color: #3f3e3e;

        &:after {
          top: 0;
          left: 0;

          width: 11px;
          height: 11px;

          background: transparent;
        }
      }
    }
  }

  &__filter-field-title {
    margin: 0;

    font-size: 12px;
    font-weight: 400;

    color: #010101;
  }

  &__filter-body {
    margin: 0 0 10px;
    padding: 0 0 0 14px;
    box-sizing: border-box;

    &_banks {
      padding: 0 12px 12px 14px;
    }

    &:last-of-type {
      margin: 0;
    }
  }

  &__results {
    position: relative;
    float: left;
    width: 100%;
    max-width: calc(100% - 205px);

    padding: 0 0 0 20px;
  }

  &__table {

  }

  &__item {
    display: flex;
    flex-wrap: wrap;
  }

  &__preview,
  &__detail {
    width: 100%;
  }

  &__preview {
    cursor: pointer;
  }

  &__detail {
    position: relative;
    display: none;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 1px;
      background-position: 0 center;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAABCAYAAAAMwoR9AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAABVJREFUeJxjmDp16n8QZkADMHEQBgDkwQ233kgSkQAAAABJRU5ErkJggg==");
    }
  }

  &__table-row {
    display: flex;
  }

  &__table-col {
    width: 100%;
    flex-direction: column;

    padding: 10px 5px;
    box-sizing: border-box;


    &:nth-of-type(1) {
      max-width: 130px;
      align-items: flex-start;
    }
    &:nth-of-type(2) {max-width: 125px;}
    &:nth-of-type(3) {max-width: 185px;}
    &:nth-of-type(4) {max-width: 190px;}
    &:nth-of-type(5) {
      max-width: 185px;
      padding: 10px 5px;
    }
    &:nth-of-type(6) {
      max-width: 135px;
      padding: 10px;
    }
  }

  &__table-row_header &__table-col,
  &__table-row_header &__table-col:nth-of-type(1) {
    align-items: center;
  }

  &__bank-link {
    display: inline-block;
    padding: 4px 15px 2px;
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    color: #f34942;
    border: 1px solid #f34942;
    border-radius: 11px;
    transition: all .2s;
    outline: none;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: #f34942;

      outline: none;
      text-decoration: none;
    }
  }

  &__tariff-name {
    font-size: 14px;
    font-weight: 300;
    color: #010101;
  }

  &__tariff-img {
    margin: 5px 0 0;
  }

  &__value {
    font-size: 12px;
    font-weight: 300;

    color: #010101;

    text-align: center;

    strong {
      color: #005559;
    }

    &_interval {
      strong {
        font-weight: 300;
        color: #010101;
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    margin: 5px 0 0;

    font-size: 12px;
    font-weight: 300;

    color: #807f7f;
    border-bottom: 1px solid #807f7f;

    outline: none;
    text-decoration: none;
    cursor: pointer;

    opacity: 1;
    transition: all .2s;

    &:hover,
    &:focus {
      color: #807f7f;
      border-bottom-color: transparent;

      outline: none;
      text-decoration: none;
    }

    &_detail {
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -13px;
        margin: auto;
        width: 7px;
        height: 5px;
        background: transparent no-repeat 100% center;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAFCAYAAACJmvbYAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAADRJREFUeJxjqK+vzwZiLgYkAOKDxEGM3UC8D6YAKgHi70bmgLAIEpuLAU31FxQJNHvykCUAEV8vTPqo7lsAAAAASUVORK5CYII=');
      }
    }
  }

  &__item-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 10px 15px;
    box-sizing: border-box;
  }

  &__item-footer &__value {
    margin: 0 0 0 15px;
  }

  &__item-footer &__link {
    margin: 0 25px 0 0;

    &_detail {
      opacity: 0;

      &:before {
        transform: rotate(180deg);
      }
    }
  }

  &__item_opened &__preview &__link_detail {
    opacity: 0;
  }

  &__item_opened &__item-footer &__link_detail {
    opacity: 1;
  }
}