.comment-list {
  margin: 45px 0 0;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3;

  &__title {
    font-family: 'FreeSet Demi Bold', sans-serif;
    font-size: 24px;
    line-height: 1;
    color: #333333
  }

  &__items {
    margin: 30px 0 0;

  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 0 0 25px;

    &_lvl2 {
      padding-left: 50px;
    }

    &_lvl3 {
      padding-left: 100px;
    }
  }

  &__item-avatar {
    width: 50px;
    height: 50px;
    line-height: 50px;

    font-size: 20px;
    text-align: center;

    color: #005559;
    background: #F6F5FA;
    border-radius: 50%;
  }

  &__item-info {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    max-width: calc(100% - 50);

    padding: 0 0 0 10px;
    box-sizing: border-box;
  }

  &__item-name {

  }

  &__item-date {
    margin: 0 0 0 10px;
    color: #808080;
  }

  &__item-text {
    width: 100%;
    margin: 10px 0;
    color: #808080;
  }

  &__item-like,
  &__item-dislike {
    display: flex;
    align-items: center;

    margin: 0 10px 0 0;
    cursor: pointer;

    svg {
      margin: 0 5px 0 0;
      fill: #B5BDC2;
    }
  }

  &__item-like:hover svg,
  &__item-like_active svg {
    fill: #005559;
  }

  &__item-dislike:hover svg,
  &__item-dislike_active svg, {
    fill: #F34942;
  }

  &__item-answer {
    margin: 0 0 0 10px;
    color: #005559;

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__item-form {
    width: 100%;
    padding: 25px 58px 0;
    box-sizing: border-box;

    .comment-form {
      width: 100%;
      max-width: 560px;

      padding: 0;
      background: transparent;
      border-top: 1px solid #B5BDC2;
    }
  }
}

.white-popup {
  position: relative;
  width: 480px;
  margin: 20px auto;
  padding: 40px;

  font-size: 16px;
  font-weight: bold;
  text-align: center;

  background: white;
  -webkit-box-shadow: 0 0 18px 0 rgba(0,85,89,0.53);
  -moz-box-shadow: 0 0 18px 0 rgba(0,85,89,0.53);
  box-shadow: 0 0 18px 0 rgba(0,85,89,0.53);
}

.comment .comment-form {
  position: relative;
  left: 150px;
}

.comment1 .comment-form {
  position: relative;
  left: 330px;
}