.anchor-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: -3px 0;

  @media (max-width: 479px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__item {
    margin: 3px 0;

    color: #909090;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
