.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.row_3g2z{background-image:url('../../../../../image/catalog/demo/banner/id5-bg-testimonials.jpg');background-repeat:no-repeat; background-position:center center; background-attachment:fixed ;background-size:cover; overflow:hidden;}

