.author {
	font-size: 14px;
	font-family: 'FreeSet Book', sans-serif;
	color: #333333;

	&__image {
		position: relative;
		width: 142px;
		height: 142px;
		border-radius: 50%;
		overflow: hidden;
		box-shadow: 0 3px 4px rgba(0,0,0,.4);
	}

	&__name {
		display: inline-block;
		margin: 40px 0 0;
		font-size: 14px;
		font-family: 'FreeSet Demi Bold', sans-serif;
		color: #000000;
	}

	&__title {

	}

	&__description {

	}
}