.header {
  background: #F2F7F7!important;
}

.banner-list {
  height: 740px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #F2F7F7;

  &__container {
    width: 100%;
    max-width: 1120px;
    margin: auto;
  }


  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-info {

  }

  &__item-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;

    color: #0D291C;
  }

  &__item-description {
    margin: 30px 0 0;
    font-size: 18px;
    line-height: 32px;

    color: #7E8380;
  }

  &__item-btn {
    display: inline-block;
    margin: 40px 0 0;
    padding: 13px 24px 11px;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    color: #FFFFFF;
    background: #005559;
    border-radius: 8px;
    text-align: center;

    cursor: pointer;
    transition: all .2s;

    &:hover {
      color: #FFFFFF;
      background: lighten(#005559, 10%);
      text-decoration: none;
    }
  }

  &__item-image {
    position: relative;
    width: 491px;
    height: 482px;
  }

  &__item-image-main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__counter {
    font-size: 16px;
    line-height: 32px;

    color: #A7A7AB;
  }

  &__progress {
    position: relative;
    width: 954px;
    height: 1px;

    background: #E5E5EB;
    border-radius: 1px;

    span {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: calc(100% / 3);
      height: 1px;
      background: #005559;
    }
  }

  &__btn-list {
    display: flex;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 40px;
    height: 40px;

    background: #F2F7F7;
    border: 1px solid #D9D9DE;
    box-sizing: border-box;

    cursor: pointer;
    transition: all .3s;

    svg {
      transition: all .3s;
    }

    &_left {
      right: -1px;
      border-radius: 8px 0 0 8px;

      &:hover svg {
        transform: translate3d(-3px, 0, 0);
      }
    }

    &_right {
      border-radius: 0 8px 8px 0;

      &:hover svg {
         transform: translate3d(3px, 0, 0);
      }
    }
  }
}