.rank-math-breadcrumb {
    margin: auto;
    position: inherit;
    font-size: 12px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    left: 0;
    right: 0;
    position: absolute;
    padding-top: 5px;
}

.rank-math-breadcrumb > p:nth-child(1) > a:nth-child(1) {
    font-size: 12px;
    color: #014CBB;
    font-family: 'Montserrat', sans-serif;
}

.rank-math-breadcrumb {
    font-size: 12px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

#menu-keis {
    margin-top: 0px !important;
}

#site-navigation {
    padding-top: 0px !important;
}

.top_phone {
    padding-top: 0px !important;
}

.phone_head {
    margin-top: 0px !important;
}

.calk {
    margin-top: 0px !important;
	border-radius: 3px !important;
}

.site-logo {
    margin-top: 0px !important;
}

#content {
    margin-top: 67px;
}

.site-header {
    padding-top: 21px !important;
    padding-bottom: 21px !important;
	background-position-y: 64px;
	top: 0px;
	width: 100%;
	z-index: 1000000;
	background-color: #fff;
	position: fixed;
}

.site-logo::before {
	display: none;
}

.custom-logo-link{
	display: none !important;
}

.logo_mob{
	display: block !important;
}

#breadcrumbs {
    position: absolute;
    width: 1170px;
    margin: auto;
    left: 0;
    right: 0;
}

#site-navigation .main-menu > li a {
    color: #191A20 !important;
}

.phone_head a {
	color: #191A20 !important;
}

.container__banner-block{
	display: flex;
	max-width: 1170px;
	margin: auto;
	min-height: 604px;
	padding-top: 128px;
	justify-content: space-between;
}

.calk {
    background-color: #0066FF !important;
}

.site-logo:before{
	content: '';
	width: 234px;
	height: 5px;
	background-color: #fff;
	position: absolute;
	top: 55px;
	left: -14px;
}

.content__article-block{
	max-width: 1170px;
	margin: auto;
	padding-bottom: 100px;
	margin-top: 140px;
}

.entry .entry-content, .entry .entry-summary, .entry .entry-footer{
	margin: 0;
	padding: 0;
}

#content {
    margin-top: 0px;
}

.entry-title{
	margin: 0;
}

.comments-area{
	margin: 0;
}

div.article_block_top {
    max-width: 1170px;
	width: auto;
}

.comments-title{
	font-size: 18px;
}

#comment {
    height: 76px;
}

form#commentform.comment-form p.form-submit input#submit.submit{
	font-size: 13px;
}

@media only screen and (max-width: 1199px)  {
	.content__article-block{
		padding: 0 20px;
	}
	
	.article_block_top{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media only screen and (max-width: 992px)  {
	
	.top_phone {
		padding-top: 15px !important;
	}
	
	.phone_head {
		margin-top: -33px !important;
	}
}

@media only screen and (max-width: 768px)  {
	
	.entry-content{
		font-size: 13px;
		line-height: 1.4;
	}
	
	.content__article-block {
		margin-top: 138px;
	}
	
	.entry-title{
		line-height: 32px;
		font-size: 30px;
		padding-top: 20px;
	}
	
}






