@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #f47b2b;
	background-repeat: repeat-x;
}
/* top */
#top {
	background-color: #EEEEEE;
	border-bottom: 1px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
	line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
#logo {
	margin: 0 0 10px 0;
}
/* search */
#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	/*background-color: #229ac8;*/
	/*background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);*/
	/*background-repeat: repeat-x;*/
	/*border-color: #1f90bb #1f90bb #145e7a;*/
	min-height: 40px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 430px;
	display: block;
	padding: 16px 20px;
	clear: both;
	line-height: 12px;
	color: #333333;
	font-size: 13px;
	text-align: left;
	font-weight: bold;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #343434;
	/*background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);*/
	background-repeat: repeat-x;
	/*border-color: #1f90bb #1f90bb #145e7a;*/
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #404040;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	/*min-height: 600px;*/
}
/* footer */
footer {
	/*margin-top: 30px;*/
	padding-top: 30px;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding-top: 33px;
	padding-bottom: 6px;
	padding-left: 0px;
	/*border: 1px solid #ddd;*/
	background-color: inherit !important;
}

.breadcrumb > li:nth-child(1){
	padding-left: 0px;
}

.breadcrumb i {
	font-size: 15px;
}

.breadcrumb > li a{
	font-size: 14px;
	color: rgb(116, 116, 116);
	font-family: 'Roboto', sans-serif;
}

.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 9px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: 4px;
	right: -5px;
	width: 26px;
	height: 10px;
	border-right: 2px solid #DDD;
	/*border-bottom: 1px solid #DDD;*/
	/*-webkit-transform: rotate(-45deg);*/
	/*-moz-transform: rotate(-45deg);*/
	/*-o-transform: rotate(-45deg);*/
	/*transform: rotate(-45deg);*/
}

.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
	.product-list .product-thumb .image {
		float: left;
		padding: 0 15px;
	}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 180px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
	.product-grid .product-thumb .caption {
		min-height: 210px;
		padding: 0 10px;
	}
}
@media (max-width: 767px) {
	.product-list .product-thumb .caption {
		min-height: 0;
		margin-left: 0;
		padding: 0 10px;
	}
	.product-grid .product-thumb .caption {
		min-height: 0;
	}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
	#column-left  .product-layout .col-md-3 {
		width: 100%;
	}

	#column-left + #content .product-layout .col-md-3 {
		width: 50%;
	}

	#column-left + #content + #column-right .product-layout .col-md-3 {
		width: 100%;
	}

	#content + #column-right .product-layout .col-md-3 {
		width: 100%;
	}
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}

/* style body */
body{
	background-image: url("/image/catalog/bg_2.png");
}
.img_top_header{
	background-image: url("/image/catalog/head_top_img.png");
	height: 9px;
}


/* style menu */
.container_menu_nav{
	background-image: url("/image/catalog/nav_bg.png");
	height: 50px;
	border-radius: 0px;
	margin: 0;
	border:0px solid transparent !important;
}
.container_menu{
	width: 100%;
	padding: 0;
}

.container_menu_nav .nav > li > a{
	padding: 15px 31px 15px 31px !important;
}

.navbar_menu_ul{
	max-width: 921px;
	width: 100%;
}

.container_menu_nav .nav > li > a:hover{
	background-color: #f47b2b !important;
	background-image: url("/image/catalog/img_bg_hover.png");
	background-repeat: repeat-x;
	background-position: bottom;
	font-weight: bold;
}

.navbar_menu_ul li a{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	width: 162px;
	text-align: center;
}

/* style block-header */

.block-header{
	display: flex;
	padding-right: 0px;
	padding-left: 0px;
}

.block-header__txt span.txt_top{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: rgb(153, 153, 153);
}

.block-header__number span.txt_top{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: rgb(153, 153, 153);
}

.block-header__txt span.txt_bottom_left{
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	color: rgb(54, 54, 54);
	font-weight: 700;
}

.block-header__number span.txt_bottom_right a{
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	color: rgb(54, 54, 54);
	font-weight: 700;
	line-height: 26px;
}

.container-header{
	padding-top: 13px;
	padding-bottom: 8px;
}

.block-header__left{
	padding-left: 155px;
}

.block-header__right{
	padding-left: 136px;
}

.txt_bottom_left{
	line-height: 25px;
}

div.block-header__txt:nth-child(2){
	padding-top: 10px;
}

div.block-header__txt:nth-child(2) .txt_bottom_left{
	line-height: 21px;
}

div.block-header__number:nth-child(2){
	padding-top: 4px;
}

div.block-header__txt:nth-child(1) > span.txt_bottom_left::before{
	content: '';
	height: 37px;
	width: 37px;
	position: absolute;
	top: 12px;
	left: -45px;
	background-image: url("/image/catalog/img_adress.png");
}

.block-header__txt, .block-header__number{
	position: relative;
}

div.block-header__txt:nth-child(2) > span.txt_bottom_left::before{
	content: '';
	height: 37px;
	width: 37px;
	position: absolute;
	top: 21px;
	left: -45px;
	background-image: url("/image/catalog/img_email.png");
}

div.block-header__number:nth-child(1) > span.txt_bottom_right::before{
	content: '';
	height: 37px;
	width: 37px;
	position: absolute;
	top: 12px;
	left: -45px;
	background-image: url("/image/catalog/img_tell.png");
}

div.block-header__number:nth-child(2) > span.txt_bottom_right::before{
	content: '';
	height: 37px;
	width: 37px;
	position: absolute;
	top: 16px;
	left: -45px;
	background-image: url("/image/catalog/img_tel.png");
}

.menu_button{
	cursor: pointer;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	width: 229px;
	height: 32px;
	position: absolute;
	top: 9px;
	right: -104px;
	background-color: #f47b2b;
	font-weight: bold;
	text-align: end;
	padding-top: 3px;
	border-bottom: 6px solid #d45400;
	padding-right: 22px;
	background-image: url("/image/catalog/img_bg_butt.png");
	background-position-x: 14px;
	background-position-y: 2px;
	background-repeat: no-repeat;
}

.menu_button:hover{
	border-bottom: 6px solid #d6d6d6;
}

.navbar_menu_ul{
	position: relative;
}


.dropdown-inner .list-unstyled li{
	border-bottom: 1px solid #dcdcdc;
}

/* style block-footer */

footer{
	background-image: url("/image/catalog/img_bg_foot5.jpg");
}

.bottom_footer{
	background-color: rgba(34, 34, 34, 0.7);
	height: 94px;
	text-align: center;
	padding-top: 17px;
}

.bottom_footer_img{
	background-image: url("/image/catalog/log_f_img.png");
	height: 37px;
	width: 37px;
	background-repeat: no-repeat;
	margin: auto;
}

.bottom_footer_txt{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: rgb(150, 150, 150);
	padding-top: 6px;
}

.block_footer{
	display: flex;
	max-width: 1145px;
	margin: auto;
	padding-bottom: 27px;
}

.block_footer__col_txt1{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: rgb(204, 204, 204);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2;
}

.block_footer__col_txt2{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: rgb(204, 204, 204);
	line-height: 1.714;
}

.block-footer__number .txt_top{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: rgb(181, 181, 181);
}

.block-footer__number .txt_footer_right{
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	color: rgb(224, 224, 224);
	text-transform: uppercase;
	line-height: 26px;
}

.txt_footer_left{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: rgb(224, 224, 224);
	line-height: 25px;
}

.block-footer__txt .txt_top{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: rgb(181, 181, 181);
}

.block_footer__col:nth-child(1), .block_footer__col:nth-child(2){
	margin-right: 35px;
}

.block_footer__col{
	min-width: 361px;
}

.block_footer__col_line{
	border-bottom: 3px solid #3d3d3d;
	height: 3px;
	margin-bottom: 15px;
	margin-top: 4px;
}

.block_footer__col_txt2 span{
	padding-right: 7px;
	font-weight: bold;
	font-size: 21px;
	line-height: 0;
}

.block_footer__col_txt2 a:hover{
	color: #ff8738;
	cursor: pointer;
}


div.number_next > span.txt_footer_right::before {
	content: '';
	height: 37px;
	width: 37px;
	position: absolute;
	top: 12px;
	left: 0px;
	background-image: url("/image/catalog/img_foot_3.png");
}

div.number_first > span.txt_footer_right::before {
	content: '';
	height: 37px;
	width: 37px;
	position: absolute;
	top: 12px;
	left: 0px;
	background-image: url("/image/catalog/img_foot_2.png");
}

div.txt_email > span.txt_footer_left::before {
	content: '';
	height: 37px;
	width: 37px;
	position: absolute;
	top: 12px;
	left: 0px;
	background-image: url("/image/catalog/img_foot_4.png");
}


div.txt_offis > span.txt_footer_left::before {
	content: '';
	height: 37px;
	width: 37px;
	position: absolute;
	top: 12px;
	left: 0px;
	background-image: url("/image/catalog/img_foot_1.png");
}

.block-footer__number, .block-footer__txt{
	padding-left: 41px;
	position: relative;
}

.block-footer__number{
	margin-top: 3px;
}

.txt_email{
	margin-top: 8px;
}

.txt_offis{
	margin-top: 28px;
}

.block_footer__col:nth-child(3) .block_footer__col_line{
	margin-bottom: 22px;
}


/* style news */

.news_txt_h1{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: rgb(51, 51, 51);
	font-weight: bold;
	line-height: 1.2;
}

.news_txt_top span{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: rgb(102, 102, 102);
	line-height: 1.2;
}

.news_txt_h3{
	font-size: 36px;
	color: rgb(51, 51, 51);
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding-top: 22px;
}

.news_block{
	background-color: #fff;
	background-image: url("/image/catalog/bg_news_bottom.png");
	background-repeat: repeat-x;
	background-position-y: bottom;
}

.block_content{
	width: 100%;
	/*padding: 0;*/
}

.news_block_cont{
	margin-right: 0px;
	margin-left: 0px;
}

.news_block_content{
	max-width: 1170px;
	margin: auto;
	min-height: 329px;
}

.news_block_image{
	display: flex;
	align-items: center;
}

.news_block_image::before {
	content: '';
	height: 3px;
	width: 100%;
	position: absolute;
	top: 12px;
	left: 14px;
	background-image: url("/image/catalog/img_line_news.png");
}
.news_block_image::after {
	content: '';
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: 72px;
	left: 14px;
	background-image: url("/image/catalog/img_line_news.png");
}

.news_txt_h1:hover{
	color:#ff8738;
}

.news_block_layout{
	max-width: 360px;
	margin-right: 30px;
}

.img_respons{
	width: 136px;
	max-width: inherit;
}

.news_block_image a{
	padding-right: 15px;
}

/* style content_home_category */

.content_home__category{
	max-width: 1140px;
	height: 279px;
	margin: auto;
	display: flex;
	margin-bottom: 16px;
	position: relative;
}

.content_home__category_block{
	background-color: #f9f9f9;
}
.content_home__category_img{
	width: 566px;
	text-align: end;
}

.content_home__category_block{
	min-width: 573px;
}

.category_block_txt{
	max-width: 537px;
}

.category_block_txt:hover{
	background-color: #f47b2b;
}

.category_block_txt:hover a{
	color:#fff;
}

.category_block_txt a{
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	color: rgb(51, 51, 51);
	text-transform: uppercase;
	line-height: 1.2;
	font-weight: bold;
}

.category_block_child_txt a{
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	color: rgb(51, 51, 51);
	font-weight: bold;
	text-transform: uppercase;
}

.content_home{
	margin-top: 35px;
	margin-bottom: 58px;
}

.content_home__category::before {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: url("/image/catalog/omg_category_vert.jpg");
	background-repeat: repeat-y;
}

.category_block_txt, .category_block_child_txt{
	margin-left: 6px;
}

.content_home__category_block::before {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: url("/image/catalog/omg_category_vert.jpg");
	background-repeat: repeat-y;
	background-position: right;
	pointer-events: none;
}

.content_home__category_block{
	position: relative;
	background-image: url("/image/catalog/img_category_line.jpg");
	background-repeat: repeat-y;
	background-position: left;
	background-size: 6px 8px;
}

.category_block_txt{
	padding-left: 11px;
	padding-top: 13px;
	padding-bottom: 13px;
}

.category_block_child{
	padding-top: 6px;
}

.category_block_child_txt{
	padding-left: 11px;
}

.category_block_child_txt span {
	padding-right: 7px;
	font-weight: bold;
	font-size: 18px;
	line-height: 0;
	color: #f47b2b;
}

.category_block_child_txt:hover{
	background-color: #f47b2b;
	cursor: pointer;
}

.category_block_child_txt:hover a{
	color:#fff;
}

.category_block_child_txt:hover span{
	color:#000;
}

/* category_content */

.category_content, .breadcrumb{
	max-width: 1140px;
	margin: auto;
}

.category_content h1{
	font-size: 36px;
	color: rgb(51, 51, 51);
	text-transform: uppercase;
	font-weight: 700;
}

.category_cat_block_txt a{
	font-size: 21px;
	color: rgb(51, 51, 51);
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.product_category_text h4 a{
	font-size: 21px;
	color: rgb(51, 51, 51);
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.content_category{
	display: flex;
	flex-wrap: wrap;
	padding-top: 9px;
	margin-right: -15px;
	margin-left: -15px;
}

.content_category.category_min{
	justify-content: inherit !important;
}

.content_category.category_min .content_category_block{
	margin-right: 30px;
}


.content_category_block{
	width: 359px;
	min-height: 443px;
	margin-top: 29px;
	background-image: url("/image/catalog/img_bg_top_cat.jpg");
	background-repeat: repeat-x;
	height: 18px;
	padding-top: 18px;
	margin-left: 15px;
	margin-right: 15px;
}

.category_cat_block_txt{
	padding: 20px;
	padding-left: 46px;
	position: relative;
	padding-top: 14px;
}

.content_cat__category_block{
	height: 106px;
}

.content_cat__category_block:hover{
	background-color: #f47b2b;
}

.content_cat__category_block:hover .category_cat_block_txt a{
	color: #fff;
}

.content_cat__category_block:hover .category_cat_block_txt a span{
	color: #fff;
}

.category_cat_block_txt a span{
	font-size: 53px;
	position: absolute;
	left: 6px;
	top: 12px;
	color: #f47b2b;
}

.category_content__line{
	background-image: url("/image/catalog/line_prodyct_top.jpg");
	background-repeat: repeat-x;
	height: 5px;
}

.content_cat__category_img{
	border-bottom: 7px solid #fff;
	border-top: 3px solid #f47b2b;
	overflow: hidden;
}

.product_container__block{
	display: flex;
	height: 278px;
	margin-bottom: 25px;
	position: relative;
 }

.product_container__block-txt{
	background-color: #fff;
	padding-top: 27px;
	padding-left: 33px;
	padding-right: 21px;
	position: relative;
}

.block-txt-top a{
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	color: rgb(51, 51, 51);
	font-weight: bold;
	text-transform: uppercase;
}

.block-txt-bottom{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: rgb(51, 51, 51);
	line-height: 1.5;
}

.product_container__block-img{
	min-width: 448px;
	border-left: 12px solid #fff;
	overflow: hidden;
	background-color: #fff;
}

.product_container__block-img a img{
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

.product_container__block::before {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url("/image/catalog/bg_img_product_1.jpg");
	background-repeat: repeat-y;
	pointer-events: none;
}

.block-txt-bottom{
	padding-top: 25px;
}

.block-txt-but{
	position: absolute;
	height: 37px;
	width: 232px;
	background-color: #f47b2b;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	right: 51px;
	bottom: 22px;
	justify-content: center;
	align-items: center;
}

.block-txt-but span{
	font-size: 45px;
	height: 28px;
	padding-left: 14px;
}

.block-txt-but:hover span{
	color: #000 !important;
}


.product_container{
	margin-top: 83px;
}

.product_container__block-txt{
	background-image: url("/image/catalog/bg_product_vert.jpg");
	background-repeat: repeat-y;
	background-position: right;
}

.product_container__block-txt:before{
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url("/image/catalog/bg_img_product_1.jpg");
	background-repeat: repeat-y;
	background-position-x: 6px;
	pointer-events: none;
}

.block_pagination{
	text-align: center;
}

.pagination > li > a, .pagination > li > span{
	background-color: inherit;
	border: 0px solid #ddd;
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.pagination > li > a{
	color: #333333;
	font-weight: bold;
}

.pagination > .active > span{
	color: #fff;
	cursor: default;
	background-color: #333333;
	font-weight: bold;
}

.pagination > li > a, .pagination > .active > span{
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
}

.pagination > .active > span:hover{
	background-color: #333333;
}

.block_pagination{
	margin-bottom: 152px;
	margin-top: 186px;
}

li a.text_last, li a.text_first{
	font-size: 80px !important;
	line-height: 21px !important;
	font-weight: normal !important;
	height: 47px !important;
}

li a.text_next , li a.text_prev{
	font-size: 49px !important;
	line-height: 30px !important;
	font-weight: normal !important;
	height: 44px !important;
}

.products_block{
	background-color: #fff;
	margin-bottom: 53px;
}

.products_block_cont{
	display: flex;
}

.products_block_cont-text{
	padding-left: 28px;
	display: flex;
	flex-direction: column;
	padding-right: 38px;
}

.products_block_cont-text-desc{
	padding-top: 30px;
}

.products_block_cont-text-but a{
	height: 41px;
	width: 290px;
	background-color:#f47b2b;
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	color:rgb(255, 255, 255);
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	border-bottom: 4px solid #d45400;
	margin-top: 43px;
}

.products_block_cont-text-but a:hover{
	cursor: pointer;
	border-bottom: 4px solid #d6d6d6;
}


.products_block__line{
	background-image: url("/image/catalog/line_prodyct_top.jpg");
	background-repeat: repeat-x;
	height: 5px;
	padding-bottom: 12px;
	margin-top: 24px;
}

.products_block__line_bot{
	background-image: url("/image/catalog/line_prodyct_top.jpg");
	background-repeat: repeat-x;
	height: 5px;
	padding-bottom: 10px;
	margin-top: 20px;
}

.products_block__line_bot_2{
	background-image: url("/image/catalog/line_options.jpg");
	background-repeat: repeat-x;
	height: 5px;
	padding-bottom: 10px;
	margin-top: 20px;
}

.products_block_cont-text-h1{
	padding-top: 13px;
}

.products_block_cont-text-h1 h1{
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	color:rgb(51, 51, 51);
	font-weight: bold;
	text-transform: uppercase;
}

.products_block_cont-text-desc, .products_block__text_cont{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color:rgb(51, 51, 51);
	line-height: 1.5;
}

.products_block__text_cont{
	padding-left: 28px;
	padding-bottom: 58px;
}

.products_block__text_bot{
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	color:rgb(51, 51, 51);
	font-weight: bold;
	padding-top: 55px;
	padding-left: 28px;
	text-transform: uppercase;
}

.products_block_cont-img{
	min-width: 558px;
	overflow: hidden;
}

.products_block_cont-img img{
	max-width: 100%;
	max-height: 100%;
}

.products_block__size_bot{
	padding-right: 40px;
	padding-left: 40px;
}

.news_block_text a{
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	color: rgb(51, 51, 51) !important;
	font-weight: bold;
	text-transform: uppercase;
}

.white-popup {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
	min-height: 400px;
}

.popup_style{
	min-width: 267px;
}

.form_popup{
	text-align: center;
}

.form_popup div {
	margin-top: 20px;
}

#content{
	padding-right: 0px;
	padding-left: 0px;
}

.mob_menu{
	display: none;
}

.pc_menu{
	display: block;
}


label.error{
	color: #ee294e !important;
	transform: none !important;
	font-size: 13px;
	line-height: 1.1;
	margin-top: 4px;
	display: inline-block;
}
input.error, textarea.error {
	border-color: #ee294e;
}

.form_popup div{
	display: flex;
	flex-direction: column;
}

@media (max-width: 1200px) {

	.block-header__left {
		padding-left: 67px;
	}
	.block-header__right {
		padding-left: 67px;
	}
	.menu_button{
		right: 3px;
	}
	.content_home__category{
		max-width: 988px;
	}
	.content_home__category_img {
		width: 524px;
	}
	.category_block_txt a{
		font-size: 23px !important;
	}
	.category_block_child_txt a{
		font-size: 10px !important;
	}
	.content_home__category_block {
		min-width: 464px;
	}
	.category_block_txt {
		max-width: 422px;
		padding-right: 5px;
	}

	#content{
		padding-right: 0px;
		padding-left: 0px;
	}

	.news_block_cont{
		padding-right: 10px;
		padding-left: 10px;
		display: flex;
		justify-content: space-between;
	}
	.news_block_layout{
		margin-right: 10px;
		max-width: 317px;
	}
	.news_txt_top span{
		font-size: 14px;
	}
	.block_footer__col:nth-child(1), .block_footer__col:nth-child(2){
		margin-right: 14px;
	}
	.block_footer__col {
		min-width: 297px;
	}

	.block_footer{
		max-width: 973px;
	}

	.block_footer__col_map iframe{
		width: 300px;
	}

	.news_txt_h3{
		max-width: 992px;
		margin: auto;
	}

	.category_content{
		padding-left: 20px !important;
		padding-right: 20px !important;
	}

	.block-txt-bottom{
		font-size: 13px;
	}

}

@media (max-width: 992px) {

	.block-header__left{
		padding-left: 60px !important;
	}

	.block-header__txt span.txt_top{
		font-size: 14px;
	}

	div.block-header__txt:nth-child(2) > span.txt_bottom_left::before{
		top: 17px;
	}

	.block-header__number span.txt_bottom_right a{
		font-size: 20px;
	}
	.block-header__right {
		padding-left: 57px !important;
	}

	.block-header__txt span.txt_bottom_left{
		font-size: 15px;
	}

	.menu_button{
		font-size: 9px;
		width: 151px;
		font-weight: inherit;
	}

	.container_menu_nav .nav > li > a{
		padding: 15px 0px 15px 0px !important;
	}

	.navbar_menu_ul li a{
		width: 140px;
	}

	.content_home__category_img {
		width: 303px;
	}

	.content_home__category {
		max-width: 769px;
	}

	.news_block_layout {
		margin-right: 5px;
		max-width: 255px;
	}

	.news_txt_top span {
		font-size: 11px;
	}

	.news_block_image a {
		padding-right: 5px;
	}

	.news_txt_h1{
		font-size: 9px;
	}

	.block_footer {
		max-width: 755px;
	}

	.block_footer__col {
		min-width: 242px;
	}

	.block-footer__number .txt_footer_right{
		font-size: 20px;
	}

	.block_footer__col_map iframe {
		height: 233px;
		width: 241px;
	}

	.content_category_block{
		margin: auto;
	}

	.block-txt-but{
		right: 26px;
	}

	.products_block_cont{
		flex-direction: column;
	}

	.products_block_cont-img {
		min-width: auto;
		text-align: center;
	}

	.product_container__block-img{
		min-width: 311px;
	}

}

@media (min-width: 768px) {
	div.collapse.navbar-collapse.navbar-ex1-collapse.navbar_menu_nav{
		display: flex !important;
		justify-content: center;
	}
}

@media (max-width: 768px) {

	.block-header__number span.txt_bottom_right a{
		font-size: 12px;
	}
	.block-header__left{
		padding-left: 23px !important;
	}
	.block-header__right {
		padding-left: 33px !important;
	}
	.block-header__txt span.txt_top {
		font-size: 12px;
	}
	.block-header__txt span.txt_bottom_left {
		font-size: 10px;
	}
	div.block-header__number:nth-child(1) > span.txt_bottom_right::before{
		background-size: 20px 20px;
		background-repeat: no-repeat;
		left: -21px;
		height: 20px;
		width: 20px;
	}

	div.block-header__number:nth-child(2) > span.txt_bottom_right::before{
		background-size: 20px 20px;
		background-repeat: no-repeat;
		left: -21px;
		height: 20px;
		width: 20px;
	}

	div.block-header__txt:nth-child(1) > span.txt_bottom_left::before{
		background-size: 20px 20px;
		background-repeat: no-repeat;
		left: -21px;
		height: 20px;
		width: 20px;
	}

	div.block-header__txt:nth-child(2) > span.txt_bottom_left::before{
		background-size: 20px 20px;
		background-repeat: no-repeat;
		left: -21px;
		height: 20px;
		width: 20px;
	}

	div.block-header__txt:nth-child(2) > span.txt_bottom_left::before{
		top: 21px;
	}

	.block-header{
		max-width: 320px;
		margin: auto;
	}

	.img-responsive{
		margin: auto;
	}

	.content_home__category_img img{
		display: none;
	}

	.content_home__category_img {
		width: 6px;
	}

	.content_home__category_block::before, .content_home__category::before{
		background-size: 6px;
	}

	.content_home__category_block{
		background-image: none;
		min-width: 301px;
	}

	.content_home__category {
		max-width: 308px;
	}

	.category_block_txt {
		max-width: 277px;
		padding-right: 5px;
	}

	.category_block_child_txt,
	.category_block_child_txt a{
		line-height: 14px !important;
	}

	.menu_button{
		top: 0px;
		right: 0;
		left: 0;
		margin: auto;
	}

	.block_footer{
		flex-direction: column;
		max-width: 300px;
	}

	.news_block_cont{
		flex-direction: column;
	}

	.news_block_content{
		min-height: 708px;
	}
	.news_block_layout{
		margin: auto;
	}
	.news_txt_h3{
		text-align: center;
	}
	.news_txt_h1 {
		font-size: 12px;
	}
	.news_block_layout{
		max-width: 301px;
		overflow: hidden;
	}
	.news_block_image::before, .news_block_image::after{
		width: 272px;
	}

	.container_menu_nav{
		z-index: 1000000;
	}

	.navbar-nav{
		background-color: #fff;
	}
	#menu .nav > li > a{
		color: #000;
		text-align: center;
	}

	.navbar-collapse{
		box-shadow: none;
	}

	.mob_menu{
		display: block;
	}

	.pc_menu{
		display: none;
	}

	.navbar_menu_ul{
		width: auto;
	}

	.navbar_menu_ul li a {
		width: 100%;
	}

	.menu_button{
		top: 9px;
	}

	#menu .dropdown-inner a{
		color:#000;
		font-weight: initial;
		font-size: 9px;
	}

	.dropdown-menu{
		position: static !important;
		float: none !important;
		width: auto !important;
		margin-top: 0 !important;
		border: 0 !important;
		box-shadow: none !important;
		display: block;
	}

	.content_category_block{
		width: 311px;
	}

	.category_content h1{
		font-size: 28px;
	}

	.product_container__block{
		flex-direction: column;
		height: 547px;
	}

	.product_container__block-img{
		min-width: auto;
	}

	.product_container__block::before{
		background-image: none;
	}

	.product_container__block-txt::before{
		background-image: none;
	}

	.product_container__block-txt{
		background-image: none;
		min-height: 278px;
		padding-top: 16px;
	}

	.product_container__block-img{
		border-left: 0px solid #fff;
	}

	.block-txt-top a{
		font-size: 16px;
	}

	.block-txt-but{
		bottom: 8px;
		right: 0px;
		left: 0px;
		margin: auto;
	}

	.products_block_cont-text-h1 h1{
		font-size: 18px;
	}

	.products_block_cont-text-desc, .products_block__text_cont{
		font-size: 11px;
	}

	.products_block__text_bot{
		font-size: 18px;
		padding-left: initial;
	}

	.products_block_cont-text-but a{
		width: 263px;
		font-size: 16px;
		font-weight: initial;
	}

	.products_block__text_cont{
		padding-left: initial;
		overflow:hidden;
	}
	.breadcrumb > li a{
		font-size: 9px;
	}

	.breadcrumb{
		padding-left: 0px;
		padding-right: 0px;
	}

	.category_block_child{
		overflow: scroll;
		min-height: 198px;
	}

	.category_block_child_txt{
		padding-left: 0px;
	}

	.category_block_txt{
		margin-left: 9px;
	}

	.block-txt-bottom{
		font-size: 11px;
		padding-top: 13px;
		overflow: hidden;
	}


}
